     body {
          background-color: white;
      }
      main {
        display: inline-block;
        width: 50%; 
        margin-top: 10%; 
        margin-left: 25%;
      }
      div {
        float: left;
        margin-top:50px;
      }
      h1 {
        display: inline-block;
        background-color: yellow;
        margin: 0; 
        padding: 30px;
        font-size: 100px;
        margin: 0;
        font-family: aaa, bbb, Tahoma, ccc;
        color:blue;
      }
      p {
        margin: o;
        font-size:30px;
        font-family: Tahoma;;
        text-transform: uppercase;

      }
      a{
       display: inline-block;
       margin-top:30px;
       padding: 10px;
       padding-left: 30px;
       padding-right: 30px;
       text-decoration: none;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 20px;
       border: 4px solid blue;
      border-radius:114px;
       }
      img {
        width: 55%; 
        float: right;
      }
 